ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.actor {
    list-style-type: none;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    padding: 20px;
    margin: 10px;
}